body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-button {
  background: linear-gradient(to right, #f5914e, #e85826);
  color: white !important;
  border-radius: 3px;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
  color: #4a4a4a7d !important;
  font-size: 14px;
  font-weight: 600;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgba(0, 0, 0, 0.158);
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.form-control:focus {
  outline: none !important;
  border-color: #e85826 !important;
  box-shadow: inset 0 1px 1px rgba(182, 96, 96, 0.075), 0 0 8px #e85826;
}

.slick-prev,
.slick-next {
  z-index: 999;
}

.slick-next {
  margin-right: 1%;
}

.slick-arrow::before {
  display: none;
}

.carousel-img {
  display: flex;
  justify-content: center;
}

.multiContainer {
  width: 96%;
}

.cimg {
  width: 95%;
  height: auto;
  max-height: 300px;
}

.bg-voilet {
  background-color: rgb(125, 53, 240);
  color: white;
}

.try {
  height: 80px;
}

.tc-white {
  color: white;
}

.tc-grey {
  color: rgb(168, 165, 165);
}

.tc-orange {
  color: rgb(255, 145, 0);
}

.mctwo {
  margin-left: 4%;
  width: 60%;
}

.search {
  width: 115px;
}

.link {
  color: black;
  text-decoration: none;
}

.link p {
  margin: 0 !important;
}

.fas {
  color: rgb(63, 63, 63);
}

.btn-gradient {
  color: white !important;
  border-radius: 30px !important;
  background: rgb(242, 216, 9);
  background: linear-gradient(
    90deg,
    rgba(242, 216, 9, 1) 11%,
    rgba(227, 165, 6, 1) 41%
  );
}

.card-body {
  padding-left: 0 !important;
}

.card {
  border: none !important;
}

.card-p {
  color: rgb(177, 176, 176);
}

.img-hover-zoom {
  height: 200px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.3);
}

.hovereffect:hover {
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
}
